@import "fonts/fonts.css";

:root {
   --col-font1:#33539e;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Cal Sans';
}

body {
   min-height: 100vh;
   padding-top: 2vh;
   background-image: linear-gradient(150deg, #86b1d9, #c4bfd9, #e8b7d4);
   color: var(--col-font1);
}

header,
main,
footer {
   display: flex;
   justify-content: center;
   padding: 2vh 1%;
}

h1 {
   text-transform: capitalize;
   letter-spacing: .07em;
}

h4 {
   letter-spacing: .07em;
}

table,
th,
td {
   border: 1px solid #cdcdcd;
   border-collapse: collapse;
}

th {
   padding: 1vw;
   letter-spacing: .08em;
}

td {
   padding: .4vw .6vw;
}

figure {
   display: flex;
   align-items: center;
   gap: .62vw;
}

img {
   display: block;
   width: 1.927vw;
}

td a,
td p {
   display: block;
   font-family: 'Leelawadee';
}

a {
   color: var(--col-font1);
   font-weight: bold;
   text-decoration: none;
}

footer a {
   letter-spacing: .03em;
}

@media screen and (min-width: 1280px) {
   header,
   main,
   footer {
      padding: 3vh 10%;
   }
}